.cabecalho {
    background-color: #D309F3;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabecalho-imagem{

    width: 20%;

}
.cabecalho-lista-item{
    display: inline-block;
  margin: 0 16px;
  padding:24px 0;
  font-size: 32Dpx;
}

* {
    margin: 0;
    padding: 0;
}
.escola-imagem{
    width: 20%;
}
.escola {
    background-image: linear-gradient(#D309F3,#00B2FF);
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-conteudo{
    width: 35%;
}
.escola-titulo {
    padding: 24px 0;
}